.topbar {
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  border-bottom: 1px solid #e5e7eb;
}

.topbar-left h2 {
  font-size: 26px;
  margin-bottom: 5px;
}

.topbar-left p {
  color: #6b7280;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #f5f7fb;
  padding: 10px 15px;
  border-radius: 12px;
  gap: 10px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  width: 180px;
}

.notification-btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: #f5f7fb;
  cursor: pointer;
  font-size: 18px;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-icon {
  font-size: 45px;
  color: #16a34a;
}

.profile-box h4 {
  margin: 0;
}

.profile-box span {
  color: #6b7280;
  font-size: 14px;
}
.profile-box {
  position: relative;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  width: 160px;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}

.profile-dropdown button {
  width: 100%;
  padding: 10px 12px;
  border: none;
  background: transparent;
  text-align: left;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #374151;
}

.profile-dropdown button:hover {
  background: #f0fdf4;
  color: #16a34a;
}
#google_translate_element {
  position: fixed;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.goog-te-gadget {
  font-family: inherit !important;
  font-size: 14px !important;
}
.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 0 !important;
}

.goog-te-gadget span {
  display: none !important;
}

.goog-te-combo {
  display: block !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-te-balloon-frame {
  display: none !important;
}

#goog-gt-tt {
  display: none !important;
}

.goog-text-highlight {
  background: transparent !important;
  box-shadow: none !important;
}
